<!--
    What is React Router?

    - It's a library that is used for navigating and managing different pages in the react app.
    - As you know the react app is SPA, So how to make SPA to MPA(Multipage web app), then you need react-router-dom.
    - Allwos user to navigate from one page to another without full reloading of the page.

    How to install react router?
    - you need to install react-router-dom: yarn add react-router-dom / npm i react-router-dom

    Implementation of React routing:

      import {
        BrowserRouter as Router,
        Routes,
        Route,
        Link,
        NavLink,
        Navigate, // For redirection
        Outlet
      } from 'react-router-dom';

    1. BrowserRouter: This is a component that provides you the routing functionality for the react application.
                        This comp will listen the URL and renders the appropriate components.
    
    2. Routes: A container that holds multiple <Route /> element.

    3. Route: To define what component to rendered based on the current URL path.

    4. Link: A component used to create the clickable links that navigates from one page to another page.

    5. Navigate: helps to navigate on different routes in you react app.

      // Reference: https://reactrouter.com/en/main/start/overview

-->